<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Estructuras de Lewis</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lewis/css/lewis.css') }}">
<script src="{{ url_for('static', filename='js/getCookie.js') }}"></script>
<script src="{{ url_for('static', filename='lewis/js/drawsvg.js') }}"></script>


</head>
<body>
<div class="container">
    <!-- SIDEBAR IZQUIERDO -->
    <div class="sidebar-left">

        <h3>Nueva molécula</h3>

        <div class="input-row">

            <input id="molInput"
                   type="text"
                   placeholder="Ej: H2O, CO2, NH3">

            <button id="validateBtn">
                ✔
            </button>

        </div>

        <div class="status" id="status">
            ⏳ Esperando entrada
        </div>

        <button id="saveBtn" disabled onclick="saveMol()">
            💾 Guardar molécula
        </button>

    </div>
    <!-- TU VISUALIZADOR PRINCIPAL -->
    <div class="viewer">
        <!-- <h2>Estructura de Lewis</h2> -->
        <div class="title-container">
            <h1 class="title" id="title">Estructura de Lewis</h1>
        </div>
        <svg id="canvas" width="800" height="500"></svg>
    </div>

    <!-- SIDEBAR DERECHO -->
    <div class="sidebar">

        <h3>Moléculas</h3>

        <div id="moleculeList">

            

        </div>

    </div>

</div>
<script>
    const svg = document.getElementById("canvas");
    var moleculeName = "{{ name }}";
    drawMolecule({{ nodes | tojson}}, {{ edges | tojson }});
    const loadStructUrl =
    "{{ url_for('lewis.load_struct', struct_name='__NAME__') }}";
    const deleteStructUrl =
    "{{ url_for('lewis.delete_struct', struct_id=0) }}";
    const loadAllStructsUrl = 
    "{{ url_for('lewis.get_structs') }}";
    const saveStructUrl =
    "{{ url_for('lewis.add_struct') }}";
    const validateStructUrl =
    "{{ url_for('lewis.validate_struct') }}";
</script>
<script src="{{ url_for('static', filename='lewis/js/crud.js') }}"></script>
</body>
</html>